@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-indigo-50: #f0f7ff;
  --color-indigo-100: #dbecfe;
  --color-indigo-200: #bfdbfe;
  --color-indigo-300: #93c5fd;
  --color-indigo-400: #60a5fa;
  --color-indigo-500: #3b82f6;
  --color-indigo-600: #2563eb;
  --color-indigo-700: #1d4ed8;
  --color-indigo-800: #1e40af;
  --color-indigo-900: #001F3F; /* Custom Immersive Navy Blue */
  --color-indigo-950: #00152b;
  
  --color-slate-55: #F4F7F9; /* Workspace base background */
}
